@import "tailwindcss";

/* Định nghĩa màu mặc định (chế độ sáng) */
@theme {
    --color-primary: #047857;       /* xanh lá cây mới */
    --color-primary-hover: #035F43; /* hover màu xanh lá đậm hơn */
    --color-primary-light: #059669; /* màu xanh lá nhạt hơn */
    --color-accent: #f59e0b;
    --color-accent-hover: #fbbf24;
    --color-background: #ffffff;
    --color-foreground: #111827;
    --color-muted: #e3e3e3;
    --color-border: #e5e7eb;
    --color-active: #dddddd;
}

/* Khi có class="dark", các màu này sẽ được dùng thay thế */
.dark {
  --color-primary: #059669;       /* xanh lá sáng hơn cho dark mode */
  --color-primary-light: #34D399;
  --color-accent: #f59e0b;
  --color-accent-hover: #fbbf24;
  --color-background: #333131;
  --color-foreground: #f9fafb;
  --color-muted: #242424;
  --color-border: #374151;
  --color-active: #6c6464;
}

/* Keyframe cho hiệu ứng (nếu cần) */
@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient-shift {
  background-size: 200% 200%;
  animation: gradient-shift 5s ease infinite;
}