/* src/app/globals.css */
@import "tailwindcss";

/* Định nghĩa màu mặc định (chế độ sáng) */
@theme {

    --color-primary: #047857;
    --color-primary-hover: #059669;
    --color-primary-light:#09a377;
    --color-accent: #f59e0b;
    --color-accent-hover: #fbbf24;
    --color-background: #ffffff;
    --color-foreground: #111827;
    --color-muted: #e3e3e3;
    --color-border: #e5e7eb;
    --color-active: #dddddd;
    --color-txt-primary: #ffffff;
    --color-btn-url: #22c55e;
    --color-btn-url-hover: #3b82f6;
    --color-card: #dee5ec;
}

/* Khi có class="dark", các màu này sẽ được dùng thay thế */
.dark {
  --color-primary: #ffffff;
  --color-primary-light:#f1f1f1;
  --color-accent: #5d5555;
  --color-accent-hover: #48453c;
  --color-background: #333131;
  --color-foreground: #f9fafb;
  --color-muted: #242424;
  --color-border: #374151;
  --color-active: #6c6464;
  --color-txt-primary: #047857;
  --color-btn-url: #4b5563;
  --color-btn-url-hover: #6b7280;
  --color-card: #1f2937;


}



/* Keyframe cho hiệu ứng (nếu cần) */
@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient-shift {
  background-size: 200% 200%;
  animation: gradient-shift 5s ease infinite;
}